html{

    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)), url('wp4676574-pc-4k-wallpapers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    
    font-family:Rubik Doodle Shadow;

      margin-top: 20px;


  }

  h2 {
    font-size: 0.9rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 25px;
    font-family:Century;
    margin-top: -50px;
  }

  p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
  }

 
  
  




  .button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




.container1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)), url('wp2708356-4k-resolution-wallpapers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  

.searchbar{

    width: 400px;
    height: 20px;

    border: none;
    outline: none;
    color: #1d1d1d;
    background: #fffcfc;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.searchbar:before {



    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;



}



.searchbar:active {
    color: #000
}

.searchbar:active:after {
    background: transparent;
}

.searchbar:hover:before {
    opacity: 1;
}

.searchbar:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 40%;
    border-radius: 20cm;
    background-color: #ff0000;
    
      }
      

    
    
  
    
    

     


  